@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    height: 100%;
}

.bg-kabisig {
    background-color: #cce8ff;
}

.btn-primary {
    background-color: #004f91;
}

.text-color {
    color: #004f91;
}

.card-bg {
    background-color: #fff;
}

.kabisig-logo {
    height: 100vh;
    width: 100vh;
}

.form-background {
    background-color: #f6f8ff;
}

.logo-background {
    background-color: #004f91;
}

.input-box {
    background-color: #f3f3f3;
}

/* GUIDELINES STYLE */
.guideline-top-heading{
    font-size: 2.5rem;
    font-weight: 700;
}
.guide-content-heading{
    color: rgb(rgb(66, 66, 66));
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.guide-content-icon{
    color: #004f91;
}

.guide-content-subheading{
    font-size: 1rem;
    text-align: left;
    padding: 0rem 2rem;
}

/* ANNOUNCEMENTS STYLE */

.card-announce-custom-bg{
    background-color: #f5f5f5 !important;
}

.v-announcement-title{
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: underline;
}

.v-announcement-date-title{
    font-weight: bold;
}

/* XL BREAK POINT */
@media only screen and (max-width: 1199.98px) {
    .login-img {
        display: none;
    }
    .kabisig-logo {
        display: none;
    }
    .carousel-height {
        height: 75vh;
    }
}
/* LG BREAK POINT */
@media only screen and (max-width: 991.98px) {
    .logo-background {
        display: none;
    }
    .kabisig-logo {
        display: none;
    }
    .carousel-height {
        height: 60vh;
    }
}
/* MD BREAK POINT */
@media only screen and (max-width: 767.98px) {
    .carousel-height {
        height: 45vh;
    }
}
/* SM BREAK POINT */
@media (max-width: 575.98px) {
    .carousel-height {
        height: 30vh;
    }
}
